body{
    background-color: #c8a2c8 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    display: flex;
}

.entry-list {
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  border-radius: 4px;
}

.entry-list ul {
  list-style: none;
  padding: 0;
}

.entry-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #0056b3;
}

.entry-list a {
  text-decoration: none;
  color: #333;
}

.entry-list a:hover {
  color: #007bff;
}

nav{
    background-color: #fee6e3;
}

.list-inline {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home{
    margin-left: 10px;
}

.section{
    display: flex;
    align-items: center;
}

.section li {
  margin-right: 10px;
}

footer{
    background-color: white; 
}

a {
    text-decoration: none !important;
    color: #111;
    cursor: pointer;
    font-family: Inter,sans-serif !important;
    font-size: 15px;
  }
  
a:hover {
    text-decoration: none !important;
  }

button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 6px !important;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 8px;
  height: 30px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 6px;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  button {
    padding: 0 20px;
  }
}





/* body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 0;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .entry {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .tags, .timestamp {
    color: #888;
    font-size: 12px;
  } */